.contactsList {
    list-style: none;
    max-height: 400px;
    overflow-y: auto;
    padding: 1rem;
    border: 1px solid #a7a5a5;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.loader {
    color: red;
    animation: spin 1s linear infinite;
    font-size: 32px;
    margin: auto;
}

.noContacts {
    color: red;
    font-weight: bold;
    background-color: rgb(169, 163, 163);
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.listItem {
    width: 350px;
}