.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid black;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(128, 128, 128, 0.5);
    color: black;
    cursor: pointer;
    margin-bottom: 10px;
}

.contactName {
    font-weight: bold;
}

.button {
    background-color: #ea6161;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #b42f2a;
}