.formContainer {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #9d9b9b;
    border-radius: 5px;
    background-color: rgb(128, 128, 128, 0.5);
    width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #9d9b9b;
    border-radius: 4px;
}

.form button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #ea6161;
    color: white;
    cursor: pointer;
}

.form button:hover {
    background-color: #b42f2a;
}

.error {
    color: red;
    font-size: 14px;
}