#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  color: rgb(213, 13, 13);
  margin-bottom: 100px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.form-container {
  flex: 1;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.contacts-container {
  flex: 1;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}